/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden .focusable:active,
.visuallyhidden .focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

:root {
    var-LinksColor: green;
}

body {
    background-color: #6E3130;
    /* CREATE BACKGRUOND IMAGE FROM CDCOVER */
    /* CREATE BACKGRUOND IMAGE FROM CDCOVER */
    /* CREATE BACKGRUOND IMAGE FROM CDCOVER */
    /* CREATE BACKGRUOND IMAGE FROM CDCOVER */
    /* CREATE BACKGRUOND IMAGE FROM CDCOVER */
}

/* ====
   Home
   ==== */

#HomeContainer {
    text-align: left;
    background: #6E3130;
    margin: auto;
    width: 80%;
    text-decoration: none;
    padding-top: 30px;
}

#HomeCenterCD {
    width: 512px;
    height: 512px;
    margin: 0 auto;
    background-image: url("img/CDCover.png");
    background-color: inherit;
    border: 1px black solid
}

.HomeButton {
    text-decoration: none;
    color: black;
    border: 2px black solid;
    font-size: 2em;
    text-align: center;
    box-shadow: 3px 2px 0 0 black;
    padding: 20px;
    float: left;
}

#Home {
    background: white;
    font-size: 2.5em;
    margin: 0 600px 20px 70px;
}

#Media {
    background: #2DFFFE;
    margin: 27px 40px 0 0;
}

#Letras {
    background: #6751A5;
    margin: 220px 0 0 -100px;
}

#Comprar {
    background: #307BE1;
    margin: -150px 0 0 220px;
}

#Espectaculos {
    background: #FD9827;
    margin: 30px 0 0 170px;
}

#Artistas {
    background: #FFFD38;
    margin: -20px 35px 0 275px;
}

#Contacto {
    background: #CD2C2E;
    margin: 35px 0 0 180px;
}

#PLVVHOME {
    background: white url("img/PLVV.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: left top;
    width: 235px;
    height: 220px;
    margin: -50px 0 0 160px;
    padding: 0;
}

/* =====
   Media
   ===== */

.HF {
    text-align: center;
    background: #552625;
    float: left;
    margin: 20px auto;
    padding: 10px 100px 25px 100px;
    width: 100%;
}

.LinksContHome .Links{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    float: left;
    margin-right: 30px;
    -webkit-transition: all linear 0.1s;
    -moz-transition: all linear 0.1s;
    -o-transition: all linear 0.1s;
    transition: all linear 0.1s;
}

.FooterLinks .Links {
    padding: 5px;
    font-weight: normal;
    font-size: 0.75em;
}

.LinkHome {
    border: 2px #EDEDED groove;
    box-shadow: 3px 2px 0 0 #EDEDED;
    background: #FFFFFF;
}

.LinkMedia {
    border: 2px #00D1D1 groove;
    box-shadow: 3px 2px 0 0 #00D1D1;
    background: #2DFFFE;
}

.LinkLetras {
    border: 2px #4D3D7B groove;
    box-shadow: 3px 2px 0 0 #4D3D7B;
    background: #6751A5;
}

.LinkArtistas {
    border: 2px #D1CE00 groove;
    box-shadow: 3px 2px 0 0 #D1CE00;
    background: #FFFD38;
}

.LinkComprar {
    border: 2px #1A5BB7 groove;
    box-shadow: 3px 2px 0 0 #1A5BB7;
    background: #307BE1;
}

.LinkEspectaculos {
    border: 2px #CF6F02 groove;
    box-shadow: 3px 2px 0 0 #CF6F02;
    background: #FD9827;
}

.LinkContacto {
    border: 2px #8F1E20 groove;
    box-shadow: 3px 2px 0 0 #8F1E20;
    background: #CD2C2E;
}

.LinkPLVV {
    border: 2px #0F7016 groove;
    box-shadow: 3px 2px 0 0 #0F7016;
    background: #159C1F;
}

.LinkHome:hover {
    border: 2px #EDEDED groove;
    box-shadow: 3px 2px 30px 5px #EDEDED;
    background: #EDEDED;
}

.LinkMedia:hover {
    border: 2px #00D1D1 groove;
    box-shadow: 3px 2px 30px 5px #00D1D1;
    background: #00D1D1;
}

.LinkLetras:hover {
    border: 2px #4D3D7B groove;
    box-shadow: 3px 2px 30px 5px #4D3D7B;
    background: #4D3D7B;
}

.LinkArtistas:hover {
    border: 2px #D1CE00 groove;
    box-shadow: 3px 2px 30px 5px #D1CE00;
    background: #D1CE00;
}

.LinkComprar:hover {
    border: 2px #1A5BB7 groove;
    box-shadow: 3px 2px 30px 5px #1A5BB7;
    background: #1A5BB7;
}

.LinkEspectaculos:hover {
    border: 2px #CF6F02 groove;
    box-shadow: 3px 2px 30px 5px #CF6F02;
    background: #CF6F02;
}

.LinkContacto:hover {
    border: 2px #8F1E20 groove;
    box-shadow: 3px 2px 30px 5px #8F1E20;
    background: #8F1E20;
}

.LinkPLVV:hover {
    border: 2px #0F7016 groove;
    box-shadow: 3px 2px 30px 5px #0F7016;
    background: #0F7016;
}

.LinkHome:active {
    border: 2px #EDEDED groove;
    box-shadow: 0 0 0 0 #EDEDED;
    background: #EDEDED;
}

.LinkMedia:active {
    border: 2px #00D1D1 groove;
    box-shadow: 0 0 0 0 #00D1D1;
    background: #00D1D1;
}

.LinkLetras:active {
    border: 2px #4D3D7B groove;
    box-shadow: 0 0 0 0 #4D3D7B;
    background: #4D3D7B;
}

.LinkArtistas:active {
    border: 2px #D1CE00 groove;
    box-shadow: 0 0 0 0 #D1CE00;
    background: #D1CE00;
}

.LinkComprar:active {
    border: 2px #1A5BB7 groove;
    box-shadow: 0 0 0 0 #1A5BB7;
    background: #1A5BB7;
}

.LinkEspectaculos:active {
    border: 2px #CF6F02 groove;
    box-shadow: 0 0 0 0 #CF6F02;
    background: #CF6F02;
}

.LinkContacto:active {
    border: 2px #8F1E20 groove;
    box-shadow: 0 0 0 0 #8F1E20;
    background: #8F1E20;
}

.LinkPLVV:active {
    border: 2px #0F7016 groove;
    box-shadow: 0 0 0 0 #0F7016;
    background: #0F7016;
}


















































/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
