<div class="flex flex-col h-full w-full text-white">
  <div class="self-center px-2 lg:w-3/4 flex flex-col items-center w-full">
    <div class="h-full flex flex-col text-left w-full">
      <h1 class="text-xl md:text-3xl text-bold font-primary">{{contact.header}}</h1>
      <h3 class="text-base md:text-xl font-secondary">{{contact.subheader}}</h3>
      <div class="social-links w-full grid grid-cols-6 md:grid-cols-12">
        <ng-container *ngFor="let slink of contact.social">
          <a class="social-link text-center"
             [href]="slink.href" target="_blank"
             angulartics2On="click"
             angularticsAction="ContactSocialLink"
             [angularticsCategory]="'contact-social:' + slink.text">
            <app-icon [icon]="slink.icon" [size]="'lg'"></app-icon>
            <span>{{slink.text}}</span>
          </a>
        </ng-container>
      </div>
    </div>
    <app-project-image class="px-10 my-5 lg:px-0" [image]="contactIllustration"></app-project-image>
  </div>
</div>
