<nav class="w-full h-12 flex px-0 items-center justify-between bg-background-light shadow-lg font-primary font-bold text-lg">
    <a class="text-t-white-lighter h-full px-5 flex content-center hover:bg-background-medium focus:bg-background-medium" href="/">
        <app-profile class="self-center flex-grow-0 mr-5" [size]="8"></app-profile>
        <span class="self-center">Pablo Kvitca</span>
    </a>
    <a class="text-white h-full px-5 flex content-center hover:bg-background-medium focus:bg-background-medium"
        [routerLink]="['/']" fragment="projectsList">
        <span class="self-center">Projects</span>
    </a>
    <span class="flex-grow"></span>
</nav>
