:host {
    height: 100%;
    margin: 0;
    background-color: #000000;
    font-family: "Pathway Gothic One", sans-serif, cursive, arials;
    color: #f7f5ef;
}

.background {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: url("https://source.unsplash.com/QURU8IY-RaI/1920x1080");
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
    z-index: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.photo-credit,
.photo-credit a {
    color: white;
    text-decoration: none;
    padding: 4px 6px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    display: inline-block;
    border-radius: 3px;
    z-index: 10;
    position: fixed;
    bottom: 10px;
    right: 5px;
}

.main {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    height: 100%;
    z-index: 6;
    position: relative;
}

.desc-area {
    flex-grow: 2;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-name {
    font-weight: 400;
    font-size: 30pt;
}

.desc-text {
    max-width: 50%;
    text-align: center;
    align-self: center;
}

.pic-area {
    flex-grow: 3;
    padding-top: 10px;
}

.main-picture {
    border-radius: 100%;
    box-shadow: 0px 0px 15px rgba(10,185,210, 0.5);
    width: 200px;
    height: 200px;
    -webkit-animation: mover 60s infinite alternate;
    animation: mover 60s infinite alternate;
    animation-timing-function: ease-in-out;
    /* TODO: disable animation on user agent reduce motion */
}

.left-area,
.right-area {
    flex-grow: 1;
}

.social-lnks {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.fa {
    padding: 10px 10px 10px 10px;
    margin: 0 5px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 100%;
    border-width: 2px;
    border-style: groove;
    border-color: #f7f5ef;
    color: #f7f5ef;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

a {
    align-self: center;
}

.col {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.shadow-separator {
    height: 25px;
    margin: 0 auto;
    margin-bottom: 25px;
    overflow: hidden;
    width: 90%;
}

.shadow-separator:after {
    border-radius: 100%;
    box-shadow: 0 0 10px #FFFFFF;
    content: "";
    display: block;
    height: inherit;
    position: relative;
    top: 100%;
}

@-webkit-keyframes mover {
    100% {
        transform: translateY(15px) translateY(5px);
    }
}

@keyframes mover {
    100% {
        transform: translateY(15px) translateX(5px);
    }
}

@media only screen and (min-width: 800px) {
    .desc-area {
        padding-top: 15px;
        padding-bottom: 50px;
        border-radius: 25px 0 25px 0;
        background-color: rgba(0,0,0,0.5);
    }
}

@media only screen and (max-width: 600px) {
    .main {
        flex-direction: column;
    }

    .main-picture {
        animation: none;
        max-width: 200px;
        width: 50%;
        height: auto;
        object-fit: scale-down;
    }

    .desc-text {
        max-width: 75%;
    }
}