<div class="main">
    <div class="left-area">
        <!--Future content here-->
    </div>
    <div class="pic-area">
        <img class="main-picture" src="assets/profile.jpg">
    </div>
    <div class="desc-area">
        <h1 class="main-name">Pablo <wbr>Kvitca</h1>
        <div class="col even-col">
            <p class="desc-text desc-en">Hi, I'm Pablo, I do Software Developement and study Computer Science.
            </p>
            <span class="shadow-separator"></span>
            <div class="social-lnks">
                <a class="social-lnk " href="https://github.com/pablokvitca" alt="GitHub">
                    <fa-icon [icon]="iconGithub"></fa-icon>
                </a>
                <a class="social-lnk " href="https://www.linkedin.com/in/pablokvitca/" alt="Linkedin">
                    <fa-icon [icon]="iconLinkedIn"></fa-icon>
                </a>
                <a class="social-lnk " href="https://twitter.com/pablokvitca" alt="Twitter">
                    <fa-icon [icon]="iconTwitter"></fa-icon>
                </a>
                <a class="social-lnk " href="https://stackoverflow.com/users/4860393/pablo-kvitca" alt="StackOverflow">
                    <fa-icon [icon]="iconStackOverflow"></fa-icon>
                </a>
            </div>
        </div>
    </div>
    <div class="right-area">
        <!--Future content here-->
    </div>
</div>
<div class="photo-credit">
    <a href="https://unsplash.com/" target="_blank" title="Photos from unsplash"><span
            style="display:inline-block;padding:2px 3px"><svg xmlns="http://www.w3.org/2000/svg"
                style="height:12px;width:auto;position:relative;vertical-align:middle;top:-2px;fill:white"
                viewBox="0 0 32 32">
                <title>unsplash-logo</title>
                <path d="M10 9V0h12v9H10zm12 5h10v18H0V14h10v9h12v-9z"></path>
            </svg></span><span style="display:inline-block;padding:2px 3px">Background phothos by Unsplash</span>
    </a>
</div>
<div class="background"></div>