// Base Divider class
.divider {
  display: flex;
  
  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

// Base line
.line {
  align-items: center;
  margin: 1em 2em;
  
  &:before,
  &:after {
    height: 1px;
    margin: 0 -1.5em;
  }
}


.one-line {
    
    border-style: none;
    
    &:before,
    &:after {
        
        background: rgba(255,255,255,1);
    }
}

.md:one-line {
    &:before,
    &:after {
        border-style: none;
        background: white;
    }
}

.custom-rounded-tr-lg {
    border-top-right-radius: 2.5rem;
}
.custom-rounded-bl-lg {
    border-bottom-left-radius: 2.5rem;
}
.custom-rounded-tl-lg {
    border-top-left-radius: 2.5rem;
}
.custom-rounded-br-lg {
    border-bottom-right-radius: 2.5rem;
}

.custom-w-100px {
    width: 1000px;
}

.custom-flex-grow-1 {
    flex-grow: 1;
}
.custom-flex-grow-2 {
    flex-grow: 2;
}

.custom-justify-start {
    justify-content: flex-start;
}

.custom-justify-end {
    justify-content: flex-end;
}