<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <a class="navbar-action nav-header"
       angulartics2On="click"
       angularticsAction="NavProfileClick"
       [angularticsCategory]="'nav-profile'"
       [routerLink]="['/']">
      <app-profile class="flex-grow-0 hidden md:block m-2" [size]="12"></app-profile>
      <app-profile class="flex-grow-0 md:hidden m-2" [size]="8"></app-profile>
      <span class="nav-title">Pablo<wbr> Kvitca</span>
    </a>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
