/********* FONTS *********************************************************************************************************/
/* DOSIS FONT */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
/* ROBOTO FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$color-space-cadet: #2d3142;
$color-steel-teal: #50858b;
$color-blue-munsell: #5497a7;
$color-auburn: #a22c29;
$color-alabaster: #f1f0ea;

html {
    background-color: $color-blue-munsell;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%232d3142' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    background-attachment: fixed;
}

.font-primary {
  font-family: 'Dosis', serif;
}

.font-secondary {
  font-family: 'Roboto Slab', serif;
}
