
// // Custom Theming for Angular Material
// // For more information: https://material.angular.io/guide/theming
// @import '~@angular/material/theming';
// // Plus imports for other components in your app.

// // Include the common styles for Angular Material. We include this here so that you only
// // have to load a single css file for Angular Material in your app.
// // Be sure that you only ever include this mixin once!
// @include mat-core();

// // Define the palettes for your theme using the Material Design palettes available in palette.scss
// // (imported above). For each palette, you can optionally specify a default, lighter, and darker
// // hue. Available color palettes: https://material.io/design/color/
// $personal-page-primary: mat-palette($mat-indigo);
// $personal-page-accent: mat-palette($mat-pink, A200, A100, A400);

// // The warn palette is optional (defaults to red).
// $personal-page-warn: mat-palette($mat-red);

// // Create the theme object (a Sass map containing all of the palettes).
// $personal-page-theme: mat-light-theme($personal-page-primary, $personal-page-accent, $personal-page-warn);

// // Include theme styles for core and each component used in your app.
// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @include angular-material-theme($personal-page-theme);

/* You can add global styles to this file, and also import other style files */


/********* FONTS *********************************************************************************************************/
/* DOSIS FONT */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
/* ROBOTO FONT */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$color-space-cadet: #2d3142;
$color-steel-teal: #50858b;
$color-blue-munsell: #5497a7;
$color-auburn: #a22c29;
$color-alabaster: #f1f0ea;

html {
    background-color: $color-blue-munsell;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%232d3142' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    background-attachment: fixed;
}


.font-primary {
font-family: 'Dosis', serif;
}

.font-secondary {
    font-family: 'Roboto Slab', serif;
}
